<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="../static/images/icon.png"
      type="image/png"
    />
    <title>Tharanitharan M</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/styles.css" />
    <script src="../static/js/scripts.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>

  <body>
    <header>
      <a href="#" class="logo-holder">
        <div class="logo-text">Tharanitharan Muthuthirumaran</div>
      </a>
      <nav>
        <ul id="menu">
          <li>
            <a href="#skills">Skills</a>
          </li>
          <li>
            <a href="#work-experience">Work Experience</a>
          </li>
          <li>
            <a href="#certifications">Certifications</a>
          </li>
          <li>
            <a href="#projects">Projects</a>
          </li>
          <li>
            <a href="mailto:muthuthirumaran.t@northeastern.edu" class="button"
              >Contact Me</a
            >
          </li>
        </ul>
        <a href="#" class="mobile-toggle" onClick="toggleMobileMenu();">
          <svg
            class="w-6 h-6 text-gray-800 dark:text-white"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-width="2"
              d="M5 7h14M5 12h14M5 17h10"
            />
          </svg>
        </a>
      </nav>
    </header>
    <main>
      <section class="hero container">
        <div class="hero-blue">
          <div>
            <h1>
              <small>Hi I'm a</small>
              <div
                class="typewrite"
                data-period="2000"
                data-type='["Graduate Student", "Software Engineer Intern", "Python Developer", "Machine Learning Enthusiast", "Data Analyst"]'
                style="margin: 20px; margin-left: 0"
              >
                <span class="wrap"></span>
              </div>
            </h1>
            <p>
              I am currently pursuing
              <span style="font-weight: bold"
                >MS in CS student at Northeastern University</span
              >
              with a passion for Software Development and Machine Learning. With
              extensive experience in Python, Web Development and Machine
              learning <br /><br />

              <span
                >I am currenly working as a Software Engineer intern at <a href="https://www.codecademy.com">Codecademy</a></span
              >
            </p>
            <div class="call-to-action">
              <a href="https://drive.google.com/file/d/1p6y1pto3eIxKIEi6vbMhI3ym0fQmWK19/view?usp=drivesdk" class="button black">
                View Resume
              </a>
              <a href="mailto:muthuthirumaran.t@northeastern.edu" class="button white">
                Contact Me
              </a>
            </div>
            <div>
              <a href="https://github.com/Tharanitharan-M" class="logo-text">
                <img src="./static/images/github.png" alt="GitHub" width="48" />
              </a>
              <a
                href="https://www.linkedin.com/in/tharanitharanm/"
                class="logo-text"
              >
                <img
                  src="./static/images/linkedin.png"
                  alt="LinkedIn"
                  width="48"
                />
              </a>
            </div>
          </div>
        </div>
        <!-- <div class="hero-yellow">
          <img
            src="./static/images/hero-image1.png"
            alt="Tharanitharan"
            width="100%"
          />
        </div> -->
      </section>
      <section class="logos container">
        <div class="marquee">
          <div class="track">
            <img src="./static/images/html.png" alt="HTML" />
            <img src="./static/images/css.png" alt="CSS" />
            <img src="./static/images/javascript.png" alt="JS" />
            <img src="./static/images/react.png" alt="React" />
            <img src="./static/images/vscode.png" alt="VS Code" />
            <img src="./static/images/Java.png" alt="Java" />
            <img src="./static/images/python.png" alt="Python" />
            <img src="./static/images/numpy.png" alt="Numpy" />
            <img src="./static/images/Pandas.png" alt="Pandas" />
            <img src="./static/images/scikit-learn.png" alt="scikit-learn" />
            <img src="./static/images/TensorFlow.png" alt="TensorFlow" />
            <img src="./static/images/PyTorch.png" alt="PyTorch" />
            <img src="./static/images/MySQL.png" alt="MySQL" />
            <img src="./static/images/MongoDB.png" alt="MongoDB" />
            <img src="./static/images/Jira.png" alt="Jira" />
            <img src="./static/images/Jenkins.png" alt="Jenkins" />
            <img src="./static/images/Postman.png" alt="Postman" />
            <img src="./static/images/Selenium.png" alt="Selenium" />

            <img src="./static/images/html.png" alt="HTML" />
            <img src="./static/images/css.png" alt="CSS" />
            <img src="./static/images/javascript.png" alt="JS" />
            <img src="./static/images/react.png" alt="React" />
            <img src="./static/images/vscode.png" alt="VS Code" />
            <img src="./static/images/Java.png" alt="Java" />
            <img src="./static/images/python.png" alt="Python" />
            <img src="./static/images/numpy.png" alt="Numpy" />
            <img src="./static/images/Pandas.png" alt="Pandas" />
            <img src="./static/images/scikit-learn.png" alt="scikit-learn" />
            <img src="./static/images/TensorFlow.png" alt="TensorFlow" />
            <img src="./static/images/PyTorch.png" alt="PyTorch" />
            <img src="./static/images/MySQL.png" alt="MySQL" />
            <img src="./static/images/MongoDB.png" alt="MongoDB" />
          </div>
        </div>
      </section>
      <section id="skills" class="skills container">
        <h2>Skills</h2>
        <div class="holder-blue">
          <div class="left-column">
            <h3>Programming Languages</h3>
            <ul>
              <li>Python</li>
              <li>Java</li>
              <li>JavaScript</li>
              <li>TypeScript</li>
            </ul>

            <h3>Database</h3>
            <ul>
              <li>MySQL</li>
              <li>PostgreSQL</li>
              <li>MongoDB</li>
            </ul>

            <h3>Web Application Tools</h3>
            <ul>
              <li>HTML</li>
              <li>CSS</li>
              <li>JavaScript</li>
              <li>React</li>
              <li>Flask Framework</li>
              <li>FastAPI</li>
              <li>Node.js</li>
              <li>Ruby on Rails</li>
              <li>GraphQL</li>
            </ul>
          </div>
          <div class="left-column">
            <h3>Machine Learning Libraries</h3>
            <ul>
              <li>Numpy</li>
              <li>Pandas</li>
              <li>Matplotlib</li>
              <li>Scikit-learn</li>
              <li>Seaborn</li>
              <li>Keras</li>
              <li>TensorFlow</li>
              <li>Pytorch</li>
            </ul>

            <h3>Tools</h3>
            <ul>
              <li>Power BI</li>
              <li>Tableau</li>
              <li>Spreadsheets</li>
              <li>Git</li>
              <li>Jira</li>
              <li>Jenkins</li>
              <li>Postman</li>
              <li>Selenium</li>
              <li>Docker</li>
              <li>Postman</li>
            </ul>

            <h3>Cloud</h3>
            <ul>
              <li>AWS</li>
              <li>Azure</li>
              <li>GCP</li>
            </ul>
          </div>
        </div>
      </section>
      <section id="work-experience" class="work-experience container">
        <h2>Work Experience</h2>
        <div class="jobs">
          <article>
            <h3>Sofware Test Engineer</h3>
            <h4>Accenture India Solutions Private Limited</h4>

            <div>Oct 2021 - Dec 2023</div>

            <ul style="list-style-type: none" class="experience">
              <li>
                Executed 500+ manual and automated test cases using Selenium,
                achieving a 95% test coverage for critical functionalities.
              </li>
              <li>
                Identified and reported 100+ defects in JIRA during the
                regression testing phase, enhancing software quality and user
                experience by reducing post-release issues by 30%.
              </li>
              <li>
                Utilized Python programming and Jenkins for automation,
                developing test scripts and continuous integration pipelines,
                resulting in a 78% reduction in process time and streamlined
                testing procedures.
              </li>
              <li>
                Collaborated with cross-functional teams, contributing to the
                successful delivery of high-quality software products within
                tight deadlines.
              </li>
            </ul>
          </article>

          <article>
            <h3>Operations Intern</h3>
            <h4>Integration Wizards</h4>
            <div>May 2021- Jul 2021</div>

            <ul style="list-style-type: none" class="experience">
              <li>
                Developed and optimized custom Docker containers tailored for
                specific use cases, ensuring seamless integration and
                deployment.
              </li>
              <li>
                Resolved complex network issues and enhanced network security on
                remote machines for deployments, improving system reliability by
                30%.
              </li>
              <li>
                Anticipated and mitigated operational problems by analyzing
                modes of operation and system limitations, reducing downtime by
                20%.
              </li>
              <li>
                Identified and addressed system performance and connectivity
                issues, resulting in a 25% increase in system efficiency.
              </li>
            </ul>
          </article>
        </div>
      </section>
      <section id="certifications" class="certifications container">
        <h2>Certifications</h2>
        <div class="jobs">
          <article
            style="
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
            "
          >
            <h3 style="line-height: 40px; text-align: center">
              IBM Data Science Professional Certificate
            </h3>
            <div
              data-iframe-width="250"
              data-iframe-height="270"
              data-share-badge-id="7fb07b8b-e7c5-4552-a1ef-7552d4e4474f"
              data-share-badge-host="https://www.credly.com"
            ></div>
            <script
              type="text/javascript"
              async
              src="//cdn.credly.com/assets/utilities/embed.js"
            ></script>
          </article>
          <article
            style="
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
            "
          >
            <h3 style="line-height: 40px; text-align: center">
              Meta Front-End Developer
            </h3>
            <div
              data-iframe-width="250"
              data-iframe-height="270"
              data-share-badge-id="d3d4d16b-8b54-489d-b758-8904d23d1e6f"
              data-share-badge-host="https://www.credly.com"
            ></div>
            <script
              type="text/javascript"
              async
              src="//cdn.credly.com/assets/utilities/embed.js"
            ></script>
          </article>
          <article
            style="
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
            "
          >
            <h3 style="line-height: 40px; text-align: center">
              Google Data Analytics Professional Certificate
            </h3>
            <div
              data-iframe-width="250"
              data-iframe-height="270"
              data-share-badge-id="dbe95fda-ff58-4cee-83a5-1fe31db612eb"
              data-share-badge-host="https://www.credly.com"
            ></div>
            <script
              type="text/javascript"
              async
              src="//cdn.credly.com/assets/utilities/embed.js"
            ></script>
          </article>
        </div>
      </section>
      <section id="projects" class="projects container">
        <h2>Projects</h2>
        <div class="jobs">
          <article style="display: grid">
            <h3>Credit Card Fraud Detection</h3>

            <ul class="experience">
              <li>
                Constructed a Machine Learning Model for Credit Card Fraud
                Detection (Logistic Regression) which achieved a 92.89% accuracy
                in classifying fraudulent transactions within a dataset of
                284,807 transactions.
              </li>
              <li>
                Identified Key Fraudulent Transaction Traits where it is
                revealed that the fraudulent transactions were spread throughout
                the day and limited to amounts below $2,250.
              </li>
              <!-- <li>
                Addressed Data Imbalance for Model Efficacy. The imbalanced
                nature of the dataset (few fraudulent transactions) was tackled
                to ensure the model's effectiveness in real-world scenarios with
                a skewed class distribution.
              </li> -->
            </ul>
            <div>
              <a
                href="https://github.com/Tharanitharan-M/Credit-Card-Fraud-Detection"
                class="logo-text"
                ><img
                  src="../static/images/github.png"
                  alt="project github link"
              /></a>
              <a
                href="https://www.kaggle.com/code/mtharanitharan/credit-card-fraud-detection"
                class="logo-text"
                ><img
                  src="../static/images/kaggle.png"
                  alt="project kaggle link"
                  width="48px"
                  height="48px"
              /></a>
            </div>
          </article>
          <article style="display: grid">
            <h3>Stock Market Analytics Dashboard</h3>

            <ul style="list-style-type: none" class="experience">
              <li>
                Developed a comprehensive Stock Market Analytics Dashboard using
                Python, Dash, and Plotly, enhancing data visualization
                capabilities for real-time stock price trends and historical
                analysis.
              </li>
              <li>
                Implemented interactive features such as live stock price
                updates, volume charts, and price comparison charts, improving
                user engagement and facilitating informed decision-making for
                financial analysts.
              </li>
            </ul>
            <div>
              <a
                href="https://github.com/Tharanitharan-M/Stock-Market-Analytics-Dashboard"
                class="logo-text"
                ><img
                  src="../static/images/github.png"
                  alt="project github link"
              /></a>
            </div>
          </article>
          <article style="display: grid">
            <h3>Third Eye: Object Recognition System</h3>

            <ul style="list-style-type: none" class="experience">
              <li>
                Engineered a real-time object recognition system using Raspberry
                Pi and camera, which can detect 70 objects with 98% accuracy
                improving environmental awareness and object classification.
              </li>
              <li>
                Optimized system performance by fine-tuning the YOLO v3 model
                and leveraging hardware acceleration on the Raspberry Pi,
                resulting in a 18% increase in processing speed
              </li>
            </ul>
            <div>
              <a
                href="https://github.com/Tharanitharan-M/Third-Eye"
                class="logo-text"
                ><img
                  src="../static/images/github.png"
                  alt="project github link"
              /></a>
            </div>
          </article>
          <article style="display: grid">
            <h3>Non-Invasive Glucometer</h3>

            <ul style="list-style-type: none" class="experience">
              <li>
                Designed hardware circuitry for a non-invasive glucometer,
                integrating an advanced IR sensor with Raspberry Pi components,
                resulting in a 12% increase in device efficiency.
              </li>
              <li>
                Applied linear regression algorithms to correlate IR light
                intensity with blood glucose levels, achieving 84% prediction
                accuracy through rigorous manual testing and validation
              </li>
            </ul>
            <div>
              <a
                href="https://www.tojqi.net/index.php/journal/article/view/1587"
                class="logo-text"
                >Publication</a
              >
            </div>
          </article>
        </div>
      </section>

      <section class="chatbot container">
        <h2>Talk to me</h2>
        <div class="chatbot-yellow">
          <div class="chat-info">
            <h3>AI Chatbot</h3>
            <p>
              I've built a chatbot using
              <span style="font-weight: bold">Google Gemini</span> that knows
              all about my skills, work experience, and has a copy of my CV /
              Resume. Feel free to ask it any questions to get a better idea of
              who I am and what I've done.
            </p>

            <p>
              I'm currently on the lookout for new opportunities, so if you have
              a project you think I'd be a good fit for, please reach out!
            </p>
            <a href="https://drive.google.com/file/d/1Z_aIS3znlDEKbUV7kG9YxwBLAvBqANph/view?usp=sharing" class="button black"
              >Download Resume</a
            >
          </div>

          <div class="chat-box">
            <div class="scroll-area">
              <ul id="chat-log"></ul>
            </div>
            <form
              id="chat-form"
              method="post"
              action="/chat"
              class="chat-message"
            >
              <input
                type="text"
                id="user-input"
                name="user_input"
                placeholder="Ask me anything!"
              />
              <button type="submit" class="button black">Send</button>
            </form>
          </div>
        </div>
        <script></script>
      </section>
      <script src="../static/js/chat.js"></script>
    </main>
  </body>
</html>
